{% extends "base.html" %}

{% block title %}сброс пароля{% endblock %}

{% block content %}
  {% if validlink %}
    <p> Введите и потвердите ваш новый пароль.</p>
    <form action="" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Новый пароль:</label>
          </td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Потвердите пароль:</label>
          </td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Поменять пароль" /></td>
        </tr>
      </table>
    </form>
  {% else %}
    <h1>Password reset failed</h1>
    <p>
        упс... похоже ссылка неправильная, либо была использована. Пожалуйста попробуйте ещё раз.
    </p>
  {% endif %}
{% endblock %}
