{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}

<h2>{{article.article_title}}</h2>

<h4>{{article.article_text|linebreaks}}</h4>

<em>Автор: {{article.author_name}}<br></em>
<em>{{article.pub_date}}</em>

{% if article.was_published_recently %}
Новая статья!
{% endif %}

<hr>

{% if latest_comments_list %}

    {% for c in latest_comments_list %}
        <p>
            <strong>{{c.author_name}}</strong>
            <p>{{c.comment_text|linebreaks}}</p>
        </p>
    {% endfor %}

{% else %}
Комментариев нет
{% endif%}

<hr>

<form action="{% url 'articles:leave_comment' article.id %}" method="POST">

    {% csrf_token %}

    <textarea name="text" required placeholder="Текст комментария" cols="30" rows="10" class="com_text" maxlength="200"></textarea><br>

    <button type="submit" class="com_button">Оставить комментарий</button>

</form>

{% endblock %}